.content {
    width: 100%;
}

.content p {
    padding-left: 1em;
    padding-right: 1em;
    /* margin: 0; */
    text-align: justify;
    text-indent: 1em;
}

.doctor {
    width: 100%;
    top: 0;
    height: 28em;
    display: flex;
    justify-content: center;
    left: 0;
    overflow: hidden;
}

.btn {
    text-decoration: none;
    background-color: #bf2b2b;
    color: white;
    width: 9em;
    box-shadow: 0px 0px 12px rgba(191, 43, 43, 0.85);
    font-weight: bold;
    height: 2em;
    display: flex;
    /* font-size: 1em; */
    border-radius: 0.5em;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-transform: uppercase;
    transition: .3s linear;
}

ma {}

.btn:hover{
    color: #ffffff;
    background: #2c3e50;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#survey {
    position: absolute;
    overflow: hidden;
    /* padding-right: 0em; */
    padding-left: 18em;
    margin-top: 5em;
    height: 6em;
    width: 11em;
}

#survey h4{
    padding-bottom: 1em;
}

.doctor img {
    width: 40em;
    top: 0;
    height: 28em;
    display: flex;
    margin: auto;
}

.logo {

}

.footer {
    background: rgb(44, 62, 80);
    width: 100%;
    height: 5em;
    flex-direction: column;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    background: #2c3e50;
    display: flex;
    color: white;
    height: 6em;
    align-items: center;
    justify-content: center;
}

body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    color: #2C3E52;
    margin: 0;
}

h3, h2, h1, h4 {
    text-align: center;
}

.footer h3, h2, h1, h4 {
    margin: 0;
}