.content {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.content p {
    text-align: justify;
    padding: 1em;
    max-width: 41em;
    margin: auto;
}

.content h3 {
    padding: 0;
    margin: 1em 0 0;
}

.doctor {
    width: 100%;
    height: 28em;
    display: flex;
    justify-content: center;
    bottom: 0;
    overflow: hidden;
}

.btn {
    text-decoration: none;
    background-color: #bf2b2b;
    color: white;
    width: 9em;
    box-shadow: 0px 0px 12px rgba(191, 43, 43, 0.85);
    font-weight: bold;
    height: 2em;
    display: flex;
    border-radius: 0.5em;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-transform: uppercase;
    transition: .3s linear;
}

ma {
}

.btn:hover {
    color: #ffffff;
    background: #2c3e50;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#survey {
    position: absolute;
    overflow: hidden;
    padding-right: 26em;
    margin-top: 8em;
    height: 6em;
    width: 11em;
}

#survey h4 {
    padding-bottom: 1em;
}

.doctor img {
    width: 40em;
    top: 0;
    height: 28em;
    display: flex;
    margin: auto;
}

.logo {

}

.footer {
    background: rgb(44, 62, 80);
    width: 100%;
    display: none;
    padding: auto;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    background: #2c3e50;
    display: flex;
    color: white;
    height: 6em;
    /* position: fixed; */
    align-items: center;
    justify-content: center;
}

body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #2C3E52;
    align-content: space-between;
    margin: 0;
}

h3, h2, h1, h4 {
    text-align: center;
}

.footer h3, h2, h1, h4 {
    margin: 0;
}

@media only screen and (max-device-width: 800px) {
    html {
    }

    h1 {
        font-size: 3em;
    }

    h3 {
        font-size: 2em;
        margin: 0.5em;
    }

    p {

    }

    #survey h4 {
        font-size: 2em;
        padding: 0.23em;
    }

    .header {
        height: 10em;
    }

    .content {

    }

    .content p {
        font-size: 2em;
    }

    #survey {
        width: 18em;
        padding-right: 26em;
        height: 23em;
        margin-top: 4em;
    }

    .btn {
        font-size: 2em;
    }
}